<div class="row h-100">
    <div class="col-11 col-sm-11 mx-auto">
        <!-- header -->
        <div class="row">
            <header class="header">
                <div class="row">
                    <div class="col">
                        <div class="logo-small">
                            <app-logo></app-logo>
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <a routerLink="/signup">Sing up</a>
                    </div>
                </div>
            </header>
        </div>
        <!-- header ends -->
    </div>
    <form action="" [formGroup]="loginForm" (ngSubmit)=" login()">
        <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center py-4">
            <h1 class="mb-4"><span class="text-secondary fw-light">Sign in to</span><br/>your account</h1>
            <div class="form-group form-floating mb-3 is-valid">
                <input type="email" class="form-control inputField" formControlName="username" alue="maxartkiller" id="email" placeholder="Username">
                <label class="form-control-label" for="email">Username</label>
            </div>
            <span class="text-danger tsize" *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].dirty &&  loginForm.controls['username'].touched) "> This field is required </span>


            <div class="form-group form-floating mb-3 is-valid">
                <input type="password" class="form-control inputField" formControlName="password" alue="maxartkiller" id="password" placeholder="Username">
                <label class="form-control-label" for="Password">Password</label>
            </div>

            <span class="text-danger tsize" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty &&  loginForm.controls['password'].touched) "> This field is required </span>



            <p class="mb-3 text-end">
                <a routerLink="/forgetpassword" class="">
                Forgot your password?
            </a>
            </p>
        </div>
        <div class="col-11 col-sm-11 mt-auto mx-auto py-4">
            <div class="row ">
                <div class="col-12 d-grid">
                    <!-- <a routerLink="/home" class="btn btn-default btn-lg shadow-sm">Sign In</a> -->

                    <button type="submit" class="btn btn-default btn-lg shadow-sm" [disabled]="!loginForm.valid">Sign In</button>
                </div>
            </div>
        </div>
    </form>
</div>
