<div class="row">
    <div class="col-12">
        <div class="col-11 col-sm-11 mt-5 mx-auto py-4">
            <div class="row ">
                <!-- <div class="col-6 text-end d-grid">
                  <a class="btn btn-light btn-lg shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collpasemorelink" aria-expanded="ture" aria-controls="collpasemorelink">Upload List</a>
              </div> -->
                <!-- <div class="col-6 d-grid">
                  <a class="btn btn-light btn-lg shadow-sm" disabled type="button" data-bs-toggle="collapse" data-bs-target="#collpasemorelink1" aria-expanded="false" aria-controls="collpasemorelink1"> Entery</a>
              </div> -->
            </div>
        </div>
    </div>
</div>
<div class="contaner">
    <div class="row">
        <div class="col-12 col-md-12   ">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12  text-center ">
                            <h3>Upload List </h3>
                            <div class="hline-bottom"></div>
                        </div>
                        <div class="col">
                            <form action="" [formGroup]="supportFormData" (ngSubmit)="onSend()">
                                <div class="mt-2">
                                    <div class="text-center">
                                        <label for=""> Subject</label>
                                    </div>
                                    <input type="text" formControlName="title" class="form-control" placeholder="Enter Subject">
                                </div>
                                <span class="test-danger" *ngIf="supportFormData.controls['title'].hasError('required') && (supportFormData.controls['title'].dirty || supportFormData.controls['title'].touched )">  This feild is Required  </span>

                                <div class="mt-2">
                                    <div class="text-center">
                                        <label for=""> Message</label>
                                    </div>
                                    <textarea name="" formControlName="support_Msg" class="form-control"></textarea>
                                </div>
                                <span class="test-danger" *ngIf="supportFormData.controls['support_Msg'].hasError('required') && (supportFormData.controls['support_Msg'].dirty || supportFormData.controls['support_Msg'].touched )">  This feild is Required  </span>

                                <div class="d-grid mt-1"><button type="submit" class="btn btn-sm btn-default shadow-sm" [disabled]="!supportFormData.valid"> Send </button></div>

                            </form>


                        </div>
                    </div>




                </div>
            </div>
        </div>







    </div>

</div>

<br>
<br>