<div class="card-body">
  <div class="row">
    <div class="col-12  text-center ">
      <h3> Type Order </h3>
      <div class="hline-bottom"></div>
    </div>
    <div class="col">
      <div class="row">
        <div class="inner-repeater mb-4">
          <form [formGroup]="form">
            <div class="inner mb-0 row" formArrayName="member">
              <label class="col-form-label col-lg-2">Add Product</label>
              <div class="inner col-lg-10 ms-md-auto" *ngFor="let data of member.controls; index as i;">
                <div class="mb-3 row align-items-center">
                  <div class="col-md-6">
                    <input type="text" [formControlName]="i" class="inner form-control" id="name"
                           placeholder="Enter Product Name..." />
                  </div>
                  <div class="col-md-6">
                    <input type="text" [formControlName]="i" class="inner form-control" id="qty"
                           placeholder="Enter Product qty..." />
                  </div><br>
                  <div class="row justify-content-end">
                    <div class="col-lg-10">
                      <br>
                      <input type="button" class="btn btn-primary inner" value="Delete"
                             (click)="deleteMember(i)" />
                      &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                      <input data-repeater-create type="button" class="btn btn-success inner" value="Add Product"
                             (click)="addMember()" />
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <app-order-address ></app-order-address>

            <div class="col mt-5 text-center">
              <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary shadow-sm" >Estimate Request</button></div>
            </div>

          </form>

      </div>

    </div>
  </div>
</div>
