<div class="card-body">
  <div class="row">
    <div class="col-12  text-center ">
      <h3> Type Order </h3>
      <div class="hline-bottom"></div>
    </div>
    <div class="col-12 col-md-12">

          <form [formGroup]="typeOrderFrom" (ngSubmit)="onSubmit()" >
            <div class="outer" formArrayName="multiItem">
            <div class="row">
              <div class="col-7">
                <label> Item Name </label>
              </div>
              <div class="col-3">
                <label> Qty. </label>
              </div>
              <div class="col-2">

              </div>
            </div>

            <div *ngFor="let data1 of productDetails().controls; let i=index;">
            <div class="row  p-0 m-1" [formGroupName]="i" >
              <div class="col-7 p-0">
                <input type="text" class="form-control"  formControlName="itemName">
              </div>|
              <div class="col-2 p-0">
                <input type="number" class="form-control" formControlName="quantity">
              </div>
              |
              <div class="col-2 p-0 " align="center"  (click)="deletePhone(i)">
                <i class="bi bi-trash btn btn-danger form-control"></i>
              </div>
            </div>
            </div>
            </div>

            <div class="col-2 m-1 p-0" align="center" (click)="addMore()">
              <i class="bi bi-plus-circle btn btn-primary form-control"></i>
            </div>

            <app-order-address (addressEvent)="receiveAddressEvent($event)"></app-order-address>

            <div class="col mt-5 text-center">
              <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary shadow-sm" >Estimate Request</button></div>
            </div>
          </form>



      </div>

    </div>
  </div>

