<!-- Sidebar main menu -->
<app-sidebar class="sidebar-wrap  sidebar-overlay"></app-sidebar>
<!-- Add pushcontent or fullmenu instead overlay , keep 'sidebar-[choice here]' -->
<!-- Sidebar main menu ends-->

<!-- Begin page -->
<main #mainPage>

    <!-- Header -->
    <app-headermenu class="header position-fixed" #HeaderEl></app-headermenu>
    <!-- Header ends -->

    <!-- main page content -->
    <div class="main-container container">
        <div class="clearfix"></div>
        <router-outlet></router-outlet>
        <div class="clearfix"></div>
    </div>
    <!-- main page content ends -->

</main>
<!-- Page ends-->

<!-- Footer -->
<app-staticfooter class="footer" #FooterEl></app-staticfooter>
<!-- Footer Ends -->

<!-- Footer center menu  Modal -->
<div class="modal fade menumodal" id="menumodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-body">
                <h1 class="mb-4"><span class="text-secondary fw-light">Quick</span><br />Actions!</h1>
                <div class="text-center" *ngIf="show">
                    <img src="{{base_url}}assets/payment_image/{{getPayment[0]['payment_image']}}" alt="" class="mb-2" />
                    <p class="small text-secondary mb-4">Ask to scan this QR-Code<br />to accept money</p>
                </div>
                <div class="text-center" *ngIf="!show">
                    <p class="small text-secondary mb-4"> UPI Details : {{getPayment[0]['payment_method']}}</p>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-auto text-center">
                        <a (click)="onClick(true)" routerLink="/bills" class="avatar avatar-70 p-1 shadow-sm shadow-danger rounded-20 bg-opac mb-2">
                            <div class="icons text-danger">
                                <i class="bi bi-receipt-cutoff size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Pay Bill</p>
                    </div>

                    <div class="col-auto text-center">
                        <a (click)="onClick(false)" routerLink="/bills" class="avatar avatar-70 p-1 shadow-sm shadow-purple rounded-20 bg-opac mb-2">
                            <div class="icons text-purple">
                                <i class="bi bi-arrow-up-right size-24"></i>
                            </div>

                        </a>
                        <p class="size-10 text-secondary">UPI No</p>
                    </div>

                    <div class="col-auto text-center">
                        <a routerLink="/receivemoney" class="avatar avatar-70 p-1 shadow-sm shadow-success rounded-20 bg-opac mb-2">
                            <div class="icons text-success">
                                <i class="bi bi-arrow-down-left size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Net Bankings</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-auto text-center">
                        <a routerLink="/withdraw" class="avatar avatar-70 p-1 shadow-sm shadow-secondary rounded-20 bg-opac mb-2" data-bs-dismiss="modal">
                            <div class="icons text-secondary">
                                <i class="bi bi-bank size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Order History</p>
                    </div>

                    <div class="col-auto text-center">
                        <a routerLink="/addmoney" class="avatar avatar-70 p-1 shadow-sm shadow-warning rounded-20 bg-opac mb-2" data-bs-dismiss="modal">
                            <div class="icons text-warning">
                                <i class="bi bi-wallet2 size-24"></i>
                            </div>
                        </a>
                        <p class="size-10 text-secondary">Last Order</p>
                    </div>

                    <div class="col-auto text-center">
                        <a routerLink="/panel/notifications" class="avatar avatar-70 p-1 shadow-sm shadow-info rounded-20 bg-opac mb-2" data-bs-dismiss="modal">
                            <div class="icons text-info">
                                <span *ngIf=" getData.count > 0" class="count-indicator"></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                </svg>
                            </div>
                        </a>

                        <p class="size-10 text-secondary">Notification</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Footer center menu  ends-->