<div class="row">
    <div class="col-auto">
        <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44" (click)="menuopen()">
            <i class="bi bi-list"></i>
        </a>
    </div>
    <div class="col text-center">
        <div class="logo-small">
            <app-logo></app-logo>
        </div>
    </div>
    <div class="col-auto">
        <a routerLink="profile" class="btn btn-light btn-44">
            <i class="bi bi-person-circle"></i>
            <span class="count-indicator"></span>
        </a>
    </div>
</div>